.intro {
  
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: color #D5D5D5 ;
    font-size: 20px;
    color: #954D60;
}